/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;

}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;

}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

a {
    color: black;
    text-decoration: none;


}


/****** Main ***********/
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box; /* pour qu il y a pas de debordement sur mon main container*/
    
}

/****** Header ***********/

.header {
    display: flex; /* Pour que les elements dans le header se mettent en colonne */
    justify-content: space-between; /* pour que le logo et le menu soient alignés */
    height: 79px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

}

/****** logo ***********/
.header_content {
    display: flex;  /* pour que le logo ne se colle pas en haut de la page */
    align-items: center; /* pour centrer le logo */
    justify-content: center;
}

.logo {
    height: 19px;
}

/****** menu ***********/
.menu {
    display: flex; 
    list-style: none; /* Pour supprimer les puces */
    gap: 68px;

}

.menu-item {
    display: inline-block; /**** Pour que les menus ne se collent pas en haut de la page ****/
    padding-top: 15px;
    text-align: center;
    cursor: pointer; /* Pour avoir la main lors du passage  de la souris dessus */
}

.menu-item:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

/****** infos_group ***********/

.infos_group h1 {
    font-size: 22px; /** Taille de la police h1 utliser comme demander sur la maquette **/
    font-weight: 700;
}

p.subtitle {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
}

/****** search box toute la formulaire de recherche ***********/
form {
    display: flex; 
    align-items: center;
}


/****** location dot ***********/
form i {
    padding: 16px;
    background-color: var(--main-bg-color); /* couleur de fond du location dot */
    border-radius: 15px 0 0 15px; /* Pour arrondir les bords */
}

.fa-location-dot {
    color: black;
}

/****** input ***********/
form input {
    padding: 13px 0px 13px 0px;
    border: 1px solid var(--main-bg-color);
    font-weight: 700;
    font-size: 1rem;
}

input[value="Marseille, France"] {
    display: inline-block; /* Pour que le input ne se colle pas a la bordure du formulaire de recherche */
    text-align: center;
}

/****** search-button ***********/
form button {
    padding: 15px 20px;
    border: none; 
    border-radius: 0 15px 15px 0; /* Pour arrondir les bords */
    background-color: var(--main-color);
    color: white; /* couleur du texte rechercher sur le bouton */
    font-weight: 500;
}

.mobile {
    display: none;
    /* no magnifying glass on desktop */
}


/****** filters ***********/
h2 {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.filters { /* pour les 4 boutons filtres et le titre */
    display: flex; /* pour aligner les elements horizontalement */
    align-items: center; /* pour aligner le titre filtres et les boutons filtres horizontalement */
    margin-top: 28px;
    gap: 10px;
    margin-bottom: 28px;

}

.filters ul { /* pour chaque boutons filtres */
    display: flex; /* pour aligner les boutons filtres horizontalement */
    gap: 10px; /* pour espacer les boutons filtres */
    margin: 0;
    padding: 0;
}


.filters li {
    display: flex; /* pour espacer les texte dans les boutons filtres et les icons */
    align-items: center; /* pour aligner le texte et l'icon dans les boutons filtres horizontalement */
    gap: 10px;
    border: 2px solid var(--main-bg-color); /* couleur de la bordure du bouton filtre */
    border-radius: 25px; /* pour arrondir les bords du bouton filtre */
    padding: 10px 15px;
    font-size: 17px;
    font-weight: 700;
}


.filters li:hover,
.filters li:focus {
    background-color: var(--filter-bg-color);
}


.filters i {
    color: var(--main-color);
    /* couleur de l'icon */
}

/****** button-info ***********/
p.info { /* pour le paragraphe et le btn-info */
    display: flex; /* pour aligner au meme niveau texte et l'icon */
    height: 24px;
    align-items: center; /* pour aligner le texte et l'icon horizontalement */
    gap: 10px; /* pour espacer le texte et l'icon */
    font-size: 16px;
    margin-bottom: 30px;
}

.btn-info {
    display: flex; 
    align-items: center; 
    justify-content: center; /* pour centrer l'icon dans le btn-info */
    background-color: white; /* couleur de fond du btn-info */
    color: var(--main-color);
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9; /* couleur de la bordure du btn-info */
    border-radius: 50%; /* pour arrondir les bords du btn-info */
    font-size: 12px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex; /* Pour que les deux sections soient l une à cote de l autre */
    justify-content: space-between; /* Pour espacer les sections hebergements et populaires */

}

.hebergements-and-populaires section {
    border-radius: 20px; /* Pour arrondir la bordure des sections */
    padding: 30px;
    box-sizing: border-box; /* Pour qu il ait pas de debordement entre les sections hebergements et populaires */
}

.card-title { /* titre des cartes */
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements ***********/


.hebergements { 
    width: 65%; /* largeur de la section hebergements 65% pour que la section hebergements ne deborde pas la section populaires */
    background-color: var(--main-bg-color); /* la couleur grise de fond de la section hebergements */
    padding: 30px 0; 
}

.cards {  /* toutes les cartes */
    display: flex; /* Pour que mes cartes soient alignées horizontalement */
    flex-flow: wrap; /* Pour que mes cartes soient reparties sur la ligne */
    gap: 30px;
    width: 100%; /* largeur de mes cartes */
}

.lien-card { /* pour le lien de chaque carte */
    width: calc((100% - 90px) / 3); 
    display: flex; /* Pour que mes cartes soient alignées horizontalement */
    flex-direction: column; /* Pour que mes cartes se mettent en colonne */
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 1px var(--main-bg-color);  /*pour l effet ombrés des cards*/
}


.lien-card img { /* image de chaque carte */
    width: 100%;
    height: 120px;
    object-fit: cover; /* pour que l'image ne soit pas redimensionné et s'adapte à son conteneur */
    margin-top: 0%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-content-hebergements { /* contenu de chaque carte ( titre et sous-titre ) */
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.card-title-hebergements { /* titre de chaque carte */
    font-size: 16px;
    font-weight: bold;
    color: black;
    line-height: 13px;
    margin-bottom: 5px;
}


.card-subtitle-hebergements { /* sous-titre de chaque carte */
    font-size: 14px;
    margin-right: -5px;
}

/****** Afficher plus ***********/
.buttonplus {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 10px;
}


/****** Populaires ***********/
.populaires {
    width: 32%; 
    background-color: var(--main-bg-color);
}

/****** Populaires-title and chart line***********/
.populaires-title {
    display: flex; /* Pour que les deux elements titre et chart line soient alignés horizontalement */
    justify-content: space-between; /* Pour espacer les deux elements titre et chart line */
    align-items: baseline; /* aligne les deux elements titre et chart- line */

}

/****** Populaires-title ***********/
.populaires h2 { /* titre de la section populaires */
    font-size: 22px;
    font-weight: 700;
    margin-top: 0;
}


.populaires-cards .card { /* cartes de la section populaires */
    display: flex; /* Pour que les cartes et les card-content soient alignées horizontalement */
    margin-top: 33px;
    width: 100%; /* largeur de mes cartes prennent toute la largeur de la section populaires */
}

.card {
    background-color: white; /* couleur de fond de mes cartes */
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1)); /* pour les ombres*/
}

.card img {
    object-fit: cover; /* Pour que l'image soit ajuster à l interieur de son conteneur */

}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box; /* pour que les elements card-content ne debornent pas de mes cartes */
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/

.activites {
    padding: 30px;
}

.section-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.activites ul {
    display: flex;
    flex-direction: row; /* Pour que mes cases se mettent horizontalement */
    flex-wrap: wrap;
    gap: 30px;
    padding: 0
}

.activites li {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--filter-bg-color);
    font-size: 14px;
    margin-top: 5px;
    width: calc((100% - 90px) / 4);
    list-style-type: none;
}

.activites figure {
    width: 100%;
}

.activites img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites figcaption {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    line-height: 13px;
}


/****** Footer ***********/

footer {
    width: 100%;
    padding: 20px 20vw 20px 20px;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between; /* pour que les deux elements soient alignés entre eux */
    gap: 20px;
    margin-top: 50px;
}

footer h3 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 5px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer li {
    margin-bottom: 5px;
    font-size: 16px;
    list-style-type: none;
    color: black;
    text-decoration: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filters {
        flex-direction: column; /* Pour que les boutons filtres se mettrent en dessous du titre filtres en colonne */
        align-items: baseline; /* Pour que les boutons filtres ainsi que le titre filtres se mettent a gauche de la page */
        gap: 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column; /* Pour que les deux sections se mettent en colonne et que la section populaires se mette en dessous de la section hebergements */
    }

    .hebergements {
        width: 100%; /* Pour que la section hebergements prenne toute la largeur de la page */
    }

    .populaires {
        width: 100%; /* Pour que la section populaires prenne toute la largeur de la page */
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row; /* Pour que mes cases se mettent horizontalement */
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%; /* Pour que mes cartes se collent pas */
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        width: 100%;
        overflow-x: hidden;
    }

    main {
        padding: 0;
        margin: 0;
    }

    .main-container {
        padding: 0;
        margin: 0;
    }

    .infos_group,
    .filters,
    .info  {
        padding: 0 20px; /* Pour que ces 3 sections j'ai mis un padding de 20px à gauche et 20px à droite */
    }

    .header {
        flex-direction: column; /* Pour que le logo et le menu soient en colonne */
        justify-content: stretch; /* pour que le logo et le menu soient alignés */
        height: auto;
    }

    .header_content { /*le conteneur du logo */
        width: 100%; /* pour que le logo soit 100% de la largeur de l'en-tête */
    }

    .logo {
        padding: 30px;
    }

    .menu {
        gap: 0;
        width: 100%; /* pour que le menu soit 100% de la largeur de l'en-tête */
    }

    .menu li {
        width: 100%; 
    }

    .menu-item {
        padding-top: 0px;
        width: 100%;
        padding-bottom: 15px;
        font-size: 19px;
        border-bottom: 2px solid var(--filter-bg-color);
    }

    .menu-item:hover {
        color: var(--main-color);
        border-top: 2px solid transparent; /* pour que le lien n'ait pas de bordure en haut */
        border-bottom: 2px solid var(--main-color);
    }

    form {
        margin: 30px auto 0;

    }

    form input::placeholder {
        font-size: 15px; /* pour que le iput texte soit plus petit */
    }

    form input {
        width: 100%;
    }

    .mobile { /* pour le bouton loupe */
        display: block; 
        border-radius: 15px 15px 15px 15px;
        margin-left: -15px;
        padding: 15px 15px;
        background-color: var(--main-color);
        color: white;
    }

    /******** To hide button rechercher in mobile ***********/
    form button {
        display: none;
    }

    .filters ul {
        display: flex;
        flex-wrap: wrap; /* Pour que mes boutons se mettent sur à la ligne */
        width: 100%;
    }

    .filters li {
        box-sizing: border-box;  /* pour que les boutons filtres ne debordent pas */
        width: calc((100% - 10px) / 2);
    }

    /* Hebergements and Populaires */

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse; /* Pour que les deux sections soient en colonne et que la section populaires soit en haut */
        justify-content: space-between;
        width: 100%;
        
    }

    .hebergements-and-populaires section {
        margin-bottom: 20px;
        padding-top: 20px;
        border-radius: 0px 0px 15px 15px;
        
    }

    /* Populaires */

    .populaires {
        margin-top: 20px;
        
    }

    .section-title {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .populaires-cards {
        display: flex; /* Pour que les cartes soient en colonne */
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
        margin-top: -20px;
    }

    /* Hebergements */

    .hebergements {
        display: flex; /* Pour que les cartes soient en colonne */
        flex-direction: column;
        background-color: #FFF;
    }

    .lien-card {
        width: 100%;
        margin-top: -20px;
        margin-bottom: 5px
    }

    .card-title-hebergements {
        margin-bottom: 10px;
    }

    .buttonplus {
        margin-top: -20px;
        margin-bottom: 0px;
        padding-left: 0px;
    }

    /* Activites */

    .activites {
        width: 100%;
        box-sizing: border-box; /* pour qu il y a pas de debordement */
    }

    .activites img {
        width: 100%;
        height: 100px;
    }

    .activites ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .activites li {
        width: 100%;
    }

    .activites .section-title {
        margin-bottom: 30px;
    }

    /* Footer */

    footer {
        display: flex; /* Pour que les elements soient en colonne */
        flex-direction: column;
        margin-top: 20px;
        gap: 50px;
    }

    footer li a {
        padding: 5px;
        margin-left: -5px;
    }

}

